body {
  font-family: Arial;
  background: url('https://files.catbox.moe/dz7jjg.jpg') no-repeat center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  background: rgba(255, 255, 255, 0.2);
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  width: 300px;
  text-align: center;
}

input {
  display: block;
  width: 100%;
  margin-bottom: 12px;
  padding: 10px;
  border-radius: 5px;
  border: none;
}

button {
  width: 100%;
  padding: 10px;
  border: none;
  background: #007bff;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

.toast {
  position: fixed;
  bottom: 30px;
  right: 30px;
  background: #007bff;
  color: white;
  padding: 10px 15px;
  border-radius: 6px;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s ease;
}

.toast.show {
  opacity: 1;
}
